<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"
/>

<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{site.user_description}}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-materialui-plain colored"></i>
    <i class="devicon-tailwindcss-plain colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <!-- <p>
      Front-End Development is my forte and I'm really good at desgining user friendly components as well as using external libraries to create them.
    </p> -->
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-nextjs-plain-wordmark colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <!-- <p>
      I'm highly skilled with React.js and Next.js while also keeping by back-end skills intac
    </p> -->
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-firebase-plain-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <!-- <p>
      Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia
      master cleanse. Vinyl XOXO lumbersexual
    </p> -->
  </div>
</div>
