<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Covid-Tracker" src="https://i.imgur.com/jjcO9Oc.jpg" />
  </div>
  <div class="contents">
    <h3>CTracker - India's Covid Tracker</h3>
    <ul>
      <li>React.js, axios, Firebase</li>
    </ul>
    <p>
      The web application has two parts. The first part displays the Covid-19
      cases in the whole country by default, with an intuitive graph which can
      toggle between the confirmed, recovered and deceased cases. The second
      displays the statewise cases in the country with a bar graph corresponding
      to the respective state. The dropdown menu allows the user to choose any
      state of their choice and then see the cases of the respective state.
    </p>
    <a class="project-link" href="https://github.com/shreyanshxyz/covid-tracker"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img
      alt="mountains"
      src="https://camo.githubusercontent.com/43f50286df3768557607cf99064f296ab41531e6b5ea87e04b3ee5a65f4b998f/68747470733a2f2f692e696d6775722e636f6d2f6c69736f7664542e706e67"
    />
  </div>
  <div class="contents-right">
    <h3>PhotoSpace</h3>
    <ul>
      <li>
        JavaScript, ReactJS, NodeJS, ExpressJS, MongoDB, JWT, Google OAUTH,
        Base64
      </li>
    </ul>
    <p>
      PhotSpace is a full stack social media application based on the MERN
      stack. It has all the features such as, Authentication with Google OAUTH,
      Authentication with JWT, Upload an image together with a description,
      Delete their own posts, Like Posts and much more!
    </p>
    <a
      class="project-link"
      href="https://github.com/shreyanshxyz/PhotoSpace-Frontend"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img
      alt="Tinder Clone"
      src="https://camo.githubusercontent.com/de766de51679c6c6fb906f8077052dbeadf35378e4dce3a61c2289cca3322678/68747470733a2f2f692e696d6775722e636f6d2f79415067434d672e6a7067"
    />
  </div>
  <div class="contents">
    <h3>Tinder Clone</h3>
    <ul>
      <li>
        JavaScript, ReactJS, NodeJS, ExpressJS, MongoDB, React-tinder-cards,
        Material-UI
      </li>
    </ul>
    <p>
      Developed a full stack web application clone of the dating app ”Tinder”
      and designed a fully responsive layout which mimics the original
      application. Created a REST API for the transmission of the user data
      between the front-end and the back-end.
    </p>
    <a
      class="project-link"
      href="https://github.com/shreyanshxyz/tinder-frontend"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img
      alt="Tattle"
      src="https://camo.githubusercontent.com/0bf3e6f404f9169cf36aa691aabf3aab0e9e10b3c14f78bdfe95787608bf205f/68747470733a2f2f692e696d6775722e636f6d2f397769705049772e6a7067"
    />
  </div>
  <div class="contents-right">
    <h3>Tattle (Chat App)</h3>
    <ul>
      <li>React.js, Firebase, Socket.io</li>
    </ul>
    <p>
      Developed a chat application using React.js which allows real time chat
      between two users as well as creation of groups for conversation between
      multiple users. Used ”socket.io for the real time exchange of messages
      between the users and the user’s online status
    </p>
    <a class="project-link" href="https://github.com/shreyanshxyz/Tattle"
      >Check it out</a
    >
  </div>
</div>
