<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img
      alt="Covid-Tracker"
      src="https://camo.githubusercontent.com/72f76898f634444cf0075084461f29b406ea7f648351b342bfe5c2055478323f/68747470733a2f2f692e696d6775722e636f6d2f55523357627a742e6a7067"
    />
  </div>
  <div class="contents">
    <h3>CTracker - India's Covid Tracker</h3>
    <ul>
      <li>React.js, axios, Firebase</li>
    </ul>
    <p>
      The web application has two parts. The first part displays the Covid-19
      cases in the whole country by default, with an intuitive graph which can
      toggle between the confirmed, recovered and deceased cases. The second
      displays the statewise cases in the country with a bar graph corresponding
      to the respective state. The dropdown menu allows the user to choose any
      state of their choice and then see the cases of the respective state.
    </p>
    <a class="project-link" href="https://github.com/shreyanshxyz/covid-tracker"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img
      alt="mountains"
      src="https://camo.githubusercontent.com/b618764b9f1a8625673a47dcc5401068fa6adab98165cbf2c47afd4f10961a65/68747470733a2f2f692e696d6775722e636f6d2f633149514e41672e706e673f31"
    />
  </div>
  <div class="contents-right">
    <h3>PhotoSpace</h3>
    <ul>
      <li>
        JavaScript, ReactJS, NodeJS, ExpressJS, MongoDB, JWT, Google OAUTH,
        Base64
      </li>
    </ul>
    <p>
      PhotSpace is a full stack social media application based on the MERN
      stack. It has all the features such as, Authentication with Google OAUTH,
      Authentication with JWT, Upload an image together with a description,
      Delete their own posts, Like Posts and much more!
    </p>
    <a
      class="project-link"
      href="https://github.com/shreyanshxyz/PhotoSpace-Frontend"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img
      alt="mountains"
      src="https://camo.githubusercontent.com/de766de51679c6c6fb906f8077052dbeadf35378e4dce3a61c2289cca3322678/68747470733a2f2f692e696d6775722e636f6d2f79415067434d672e6a7067"
    />
  </div>
  <div class="contents">
    <h3>Project Title</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img
      alt="mountains"
      src="https://camo.githubusercontent.com/0bf3e6f404f9169cf36aa691aabf3aab0e9e10b3c14f78bdfe95787608bf205f/68747470733a2f2f692e696d6775722e636f6d2f397769705049772e6a7067"
    />
  </div>
  <div class="contents-right">
    <h3>Project Title</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
